<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>Studywithnagen</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ServFactorial1</servlet-name>
		<servlet-class>exonefact.ServFactorial1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServFactorial1</servlet-name>
		<url-pattern>/ServFactorial1</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>servArithmatic</servlet-name>
		<servlet-class>exonefact.ServArithmatic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>servArithmatic</servlet-name>
		<url-pattern>/servArithmatic</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServLogin</servlet-name>
		<servlet-class>exonefact.ServLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServLogin</servlet-name>
		<url-pattern>/ServLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServRegister1</servlet-name>
		<servlet-class>exonefact.ServRegister1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServRegister1</servlet-name>
		<url-pattern>/ServRegister1</url-pattern>
	</servlet-mapping>
</web-app>